<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="SqlConnectionString" connectionString="Data Source=FixxIT04-PC\SQL2012;Initial Catalog=test;User Id=sa;Password=sqladmin;Connect Timeout=120;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="MySqlConnectionString" connectionString="Server=127.0.0.1;Database=test;Uid=root;Pwd=sqladmin;" providerName="MySql.Data.MySqlClient" />
		<add name="MongoConnectionString" connectionString="Server=localhost:27017;Database=UserDatabase" providerName="SingletonTheory.OrmLite.Data.MongoClient"/>
	</connectionStrings>
</configuration>