<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="SqlConnectionString" connectionString="Data Source=JACO-LENOVO\SQLEXPRESS;Initial Catalog=test;User Id=sa;Password=ST790213;Connect Timeout=120;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="MySqlConnectionString" connectionString="Server=127.0.0.1;Database=test;Uid=root;Pwd=ST790213;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>