################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/SingletonTheory.Services.AuthServices
/SingletonTheory.Services.AuthServices.Tests
