################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/SingletonTheory.Services.AuthServices/obj/Debug
/SingletonTheory.Services.HostServices/obj/Debug
/SingletonTheory.Data/bin/Debug
/SingletonTheory.Data/obj/Debug
/SingletonTheory.Extentions/obj/Debug
/SingletonTheory.Services.AuthServices/bin
