<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<system.web>
		<httpHandlers>
			<add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<!-- Required for IIS 7.0 (and above?) -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.2.34" newVersion="1.8.2.34" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.2.34" newVersion="1.8.2.34" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="MongoConnectionString" value="mongodb://localhost:27017" />
		<add key="MongoUserDatabaseName" value="UserDatabase" />
		<add key="MongoUserAuthDatabaseName" value="UserAuthDatabase" />
		<add key="MongoLocalizationDatabaseName" value="LocalizationDatabase" />
		<add key="ServiceRootUrl" value="http://localhost:54720/"/>
		<add key="ServiceUserName" value="admin"/>
		<add key="ServicePassword" value="123"/>
		<!--<add key="LocalizationFilePath" value="..\..\SingletonTheory.Services.AuthServices\Data"/>-->	
	</appSettings>
</configuration>
