<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlConnectionString" connectionString="Data Source=JACO-LENOVO\SQLEXPRESS;Initial Catalog=test;User Id=sa;Password=ST790213;Connect Timeout=120;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="MySqlConnectionString" connectionString="Server=127.0.0.1;Database=test;Uid=root;Pwd=ST790213;" providerName="MySql.Data.MySqlClient"/>
		<add name="UserDatabase" connectionString="Server=localhost:27017;Database=UserDatabase" providerName="SingletonTheory.OrmLite.Data.MongoClient"/>
	</connectionStrings>
	<appSettings>
		<add key="MongoConnectionString" value="mongodb://localhost:27017" />
		<add key="MongoUserDatabaseName" value="UserDatabase" />
		<add key="MongoUserAuthDatabaseName" value="UserAuthDatabase" />
		<add key="MongoLocalizationDatabaseName" value="LocalizationDatabase" />
		<add key="ServiceRootUrl" value="http://localhost:54720"/>
		<add key="ServiceUserName" value="admin"/>
		<add key="ServicePassword" value="123"/>
	</appSettings>
</configuration>